.idea/*
!.idea/deployment.xml

.vagrant
Vagrantfile
puphpet.zip
puphpet/files
puphpet/files/*/empty
puphpet/files/dot/ssh
puphpet/ruby/
puphpet/vagrant/
puphpet/puppet/
puphpet/shell/
node_modules
uploads
uploads - kopie
sql
profiling/

bixie-devos
bixie-mailing

default/*
!default/templates/
default/templates/*
!default/templates/yoo_moreno


